@model EnteVm.Detallado
@{
    var estado = Model.Activo ? "Activo" : "Inactivo";
    string esJuridico, esNatural;
    if(Model.TipoEntidad == ConstantesTipoEntidad.Juridica){
        esJuridico = "required";
        esNatural = "";
    }else{
        esJuridico = "";
        esNatural = "required";
    }
}

<form id="formAccountSettings" asp-action="EditarEnte" asp-controller="Ente" method="POST">
    <div class="row g-12">
        <div class="col-md-12 text-danger text-end fw-bold mb-2">
            <span>Los campos señalados con * son obligatorios.</span>
        </div>
    </div>
    <div class="row g-6">
        <input type="hidden" asp-for="Id" />
        <div class="col-12 col-md-6 mb-3">
            <label for="TipoEntidad" class="form-label required">Tipo</label>
            <select asp-for="TipoEntidad" id="TipoEntidad" name="TipoEntidad" class="form-control" required disabled>
                <option value="@ConstantesTipoEntidad.Juridica" selected>Jurídica</option>
            </select>
        </div>
        <div class="col-12 col-md-6 mb-3">
            <label for="Identificacion" class="form-label">Identificación</label>
            <input asp-for="Identificacion" class="form-control" type="text" id="Identificacion"
                   name="Identificacion" min="10" maxlength="10" readonly autofocus />
        </div>
        <div class="col-md-6 d-none">
            <label for="Nombres" class="form-label @(esNatural)">Nombres</label>
            <input asp-for="Nombres" class="form-control" type="text" id="Nombres"
                   name="Nombres" min="3" maxlength="150" required="@(esNatural.Length > 0)" autofocus />
        </div>
        <div class="col-md-6 d-none">
            <label for="Apellidos" class="form-label @(esNatural)">Apellidos</label>
            <input asp-for="Apellidos" class="form-control" type="text" id="Apellidos"
                   name="Apellidos" min="3" maxlength="150" required="@(esNatural.Length > 0)" autofocus />
        </div>
        <div class="col-md-12">
            <label for="RazonSocial" class="form-label @(esJuridico)">Razón Social</label>
            <input asp-for="RazonSocial" class="form-control" type="text" id="RazonSocial"
                    name="RazonSocial" maxlength="250" required="@(esJuridico.Length > 0)" autofocus />
        </div>
        <div class="col-md-12">
            <label for="RazonComercial" class="form-label">Razón Comercial</label>
            <input asp-for="RazonComercial" class="form-control" type="text" id="RazonComercial"
                    name="RazonComercial" maxlength="250" autofocus />
        </div>
        <div class="col-md-6">
            <label for="Telefono" class="form-label required">Teléfono</label>
            <input asp-for="Telefono" class="form-control" type="text" id="Telefono"
                   name="Telefono" placeholder="00000000" maxlength="9" required autofocus />
        </div>
        <div class="col-md-6">
            <label for="Celular" class="form-label required">Celular</label>
            <input asp-for="Celular" class="form-control" type="text" id="Celular"
                   name="Celular" placeholder="0900000000" maxlength="10" required autofocus />
        </div>
        <div class="col-md-12">
            <label for="Correos" class="form-label">Correos</label>
            <input asp-for="Correos" class="form-control" type="text"
                   name="Correos" placeholder="ejemplo@mail.com;ejemplo2@mail.com" maxlength="500" id="Correos" autofocus />
        </div>
    </div>
    <div class="mt-6">
        @if (Context.TienePermiso(MenuEnte.CodigoMenu, MenuEnte.Permisos.Editar))
        {
            <button type="submit" class="btn btn-primary me-3">Guardar Cambios</button>
        }
        <a asp-action="Index" asp-controller="Ente" type="reset" class="btn btn-outline-secondary">Regresar</a>
    </div>
</form>
