@model PersonalVm
@{
    ViewData["Title"] = "Vendedores";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Vendedores</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuVendedor.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <div class="nav-align-top nav-tabs-shadow mb-6">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-datos-generales" aria-controls="navs-datos-generales" aria-selected="false"><span class="d-none d-sm-block"><i class="tf-icons bx bx-user bx-sm me-1_5 align-text-bottom"></i>Datos Generales</span><i class="bx bx-sm bx-user d-sm-none"></i></button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-datos-generales" role="tabpanel">
                            <form id="formAccountSettings" asp-controller="Vendedor" asp-action="CrearVendedor" method="POST">
                                <div class="row g-12">
                                    <div class="col-md-12 text-danger text-end fw-bold mb-2">
                                        <span>Los campos señalados con * son obligatorios.</span>
                                    </div>
                                </div>
                                <div class="row g-6">
                                    <div class="col-md-6">
                                        <label for="TipoIdentificacion" class="form-label required">Tipo Identificación</label>
                                        <select id="TipoIdentificacion" asp-for="TipoIdentificacion" name="TipoIdentificacion" class="form-control" required>
                                          <option value="@ConstantesTipoIdentificacion.Cedula">CÉDULA</option>
                                        </select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Identificacion" class="form-label required">Identificación</label>
                                        <input asp-for="Identificacion" class="form-control" type="text" id="Identificacion"
                                               name="Identificacion" min="10" maxlength="13" required autofocus />
                                    </div>
                                    <div class="col-md-12">
                                        <label for="Nombres" class="form-label required">Nombres</label>
                                        <input asp-for="Nombres" class="form-control" type="text" id="Nombres"
                                               name="Nombres" maxlength="250" required autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Telefono" class="form-label required">Teléfono</label>
                                        <input asp-for="Telefono" class="form-control" type="text" id="Telefono"
                                               name="Telefono" placeholder="00000000" maxlength="9" required autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Celular" class="form-label required">Celular</label>
                                        <input asp-for="Celular" class="form-control" type="text" id="Celular"
                                               name="Celular" placeholder="0900000000" maxlength="10" required autofocus />
                                    </div>
                                    <div class="col-md-12">
                                        <label for="Correos" class="form-label">Correos</label>
                                        <input asp-for="Correos" class="form-control" type="text"
                                               name="Correos" placeholder="ejemplo@mail.com;ejemplo2@mail.com" maxlength="500" id="Correos" autofocus />
                                    </div>

                                    <div class="col-md-6">
                                        <input type="hidden" asp-for="CodigoCargo" name="CodigoCargo" />
                                        <label for="NombreCargo" class="form-label">Cargo</label>
                                        <input asp-for="NombreCargo" class="form-control" type="text" id="NombreCargo"
                                               name="NombreCargo" autofocus readonly />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="IdsFunciones" class="form-label required">Función Técnico</label>
                                        <select class="form-select" asp-for="IdsFunciones" id="ComboFuncionVendedor" name="IdsFuncionesArray[]"
                                                data-id="@Model.IdsFunciones" data-text="@Model.NombresFunciones" autofocus required></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="UsuarioSistema" class="form-label required">Usuario Sistema</label>
                                        <select class="form-select" asp-for="UsuarioSistema" id="ComboUsuarioSistema" name="UsuarioSistema"
                                                data-id="@Model.UsuarioSistema" data-text="@Model.UsuarioSistema" autofocus required></select>
                                    </div>
                                </div>
                                <div class="mt-6">
                                    @if (Context.TienePermiso(MenuVendedor.CodigoMenu, MenuVendedor.Permisos.Crear))
                                    {
                                        <button type="submit" class="btn btn-primary me-3">Crear</button>
                                    }
                                    <a asp-action="Index" asp-controller="Vendedor" type="reset" class="btn btn-outline-secondary">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/vendedor/vendedor-general.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
