@model LaboratorioVm
@{
    ViewData["Title"] = "Laboratorio";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Laboratorios</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuLaboratorio.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <form id="formAccountSettings" asp-controller="Laboratorio" type="EditarLaboratorio" method="POST">
                    <div class="row g-12">
                      <div class="col-md-12 text-danger text-end fw-bold mb-2">
                        <span>Los campos se침alados con * son obligatorios.</span>
                      </div>
                    </div>
                    <div class="row g-6">
                        <input type="hidden" asp-for="Id" />
                        <div class="col-md-6">
                            <label for="Codigo" class="form-label">C칩digo</label>
                            <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                                name="Codigo" maxlength="10" required autofocus readonly/>
                        </div>
                        <div class="col-md-6">
                            <label for="Empresa" class="form-label">Empresa</label>
                            <input type="hidden" asp-for="IdEmpresa" id="IdEmpresa" name="IdEmpresa"/>
                            <input asp-for="NombreEmpresa" class="form-control" type="text" id="NombreEmpresa"
                                name="NombreEmpresa" maxlength="10" required autofocus readonly/>
                        </div>
                        <div class="col-md-6">
                            <label for="Orden" class="form-label required">Orden</label>
                            <input asp-for="Orden" class="form-control" type="number" id="Orden"
                                name="Orden" min="0" required autofocus/>
                        </div>
                        <div class="col-md-6">
                            <label for="Nombre" class="form-label required">Nombre</label>
                            <input asp-for="Nombre" class="form-control" type="text" id="Nombre"
                              name="Nombre" maxlength="150" required autofocus/>
                        </div>
                        <div class="col-md-12">
                            <label for="Descripcion" class="form-label">Descripci칩n</label>
                            <input asp-for="Descripcion" class="form-control" type="text"
                              name="Descripcion" id="Descripcion" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label for="Provincia" class="form-label required">Provincia</label>
                            <select class="form-select" asp-for="IdProvincia" id="ComboProvincia" name="IdProvincia"
                                    data-id="@Model.IdProvincia" data-text="@Model.NombreProvincia" required autofocus></select>
                        </div>
                        <div class="col-md-6">
                            <label for="Ciudad" class="form-label required">Ciudad</label>
                            <select class="form-select" asp-for="IdCiudad" id="ComboCiudad" name="IdCiudad"
                                    data-id="@Model.IdCiudad" data-text="@Model.NombreCiudad" required autofocus></select>
                        </div>
                        <div class="col-md-12">
                            <label for="Direccion" class="form-label">Direcci칩n</label>
                            <input asp-for="Direccion" class="form-control" type="text"
                                   name="Direccion" id="Direccion" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Latitud</label>
                            <input asp-for="Latitud" class="form-control" type="number" id="Latitud" step="0.00000001"
                                   name="Latitud" placeholder="Latitud" autofocus />
                        </div>
                        <div class="col-md-6">
                            <label class="form-label">Longitud</label>
                            <input asp-for="Longitud" class="form-control" type="number" id="Longitud" step="0.00000001"
                                   name="Longitud" placeholder="Longitud" autofocus />
                        </div>
                    </div>
                    <div class="mt-6">
                        @if(Context.TienePermiso(MenuLaboratorio.CodigoMenu, MenuLaboratorio.Permisos.Editar))
                        {
                          <button type="submit" class="btn btn-primary me-3">Guardar Cambios</button>
                        }
                        <a asp-action="Index" asp-controller="Laboratorio" type="reset" class="btn btn-outline-secondary">Regresar</a>
                    </div>
                  </form>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/laboratorio/laboratorio-general.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
