@model EnteTecnicoVm
@{

    ViewData["Title"] = "Técnicos";

    var nombreCombo = Model.TipoEntidad == ConstantesTipoEntidad.Juridica
        ? Model.RazonSocial 
        : Model.NombresCompletos;
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Técnicos</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuEnteTecnico.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <div class="nav-align-top nav-tabs-shadow mb-6">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-datos-generales" aria-controls="navs-datos-generales" aria-selected="false"><span class="d-none d-sm-block"><i class="tf-icons bx bx-user bx-sm me-1_5 align-text-bottom"></i>Datos Generales</span><i class="bx bx-sm bx-user d-sm-none"></i></button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-datos-generales" role="tabpanel">
                            <form id="formAccountSettings" asp-controller="EnteTecnico" asp-action="CrearActualizarEnteTecnico" method="POST">
                                <div class="row g-12">
                                    <div class="col-md-12 text-danger text-end fw-bold mb-2">
                                        <span>Los campos señalados con * son obligatorios.</span>
                                    </div>
                                </div>
                                <div class="row g-6">
                                    <input type="hidden" asp-for="IdEnte" name="IdEnte" />
                                    <div class="col-md-6">
                                        <label for="TecnicoText" class="form-label">Tecnico</label>
                                        <input class="form-control" type="text" id="TecnicoText" value="@nombreCombo"
                                               name="TecnicoText" readonly autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Codigo" class="form-label required">Código</label>
                                        <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                                               name="Codigo" min="5" maxlength="10" required autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Modulo" class="form-label required">Laboratorio</label>
                                        <select class="form-select" asp-for="IdLaboratorio" id="ComboLaboratorio" name="IdLaboratorio"
                                                data-id="@Model.IdLaboratorio" data-text="@Model.NombreLaboratorio" autofocus required></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Modulo" class="form-label required">Módulo</label>
                                        <select class="form-select" asp-for="IdModuloLaboratorio" id="ComboModulo" name="IdModuloLaboratorio"
                                                data-id="@Model.IdModuloLaboratorio" data-text="@Model.NombreModuloLaboratorio" autofocus required></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="IdFuncionTecnico" class="form-label required">Función Técnico</label>
                                        <select class="form-select" asp-for="IdFuncionTecnico" id="ComboFuncionTecnico" name="IdFuncionTecnico"
                                                data-id="@Model.IdFuncionTecnico" data-text="@Model.NombreFuncionTecnico" autofocus required></select>
                                    </div>
                                </div>
                                <div class="mt-6">
                                    @if (Context.TienePermiso(MenuEnteTecnico.CodigoMenu, MenuEnteTecnico.Permisos.Crear))
                                    {
                                        <button type="submit" class="btn btn-primary me-3">Actualizar</button>
                                    }
                                    <a asp-action="Index" asp-controller="EnteTecnico" type="reset" class="btn btn-outline-secondary">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/enteTecnico/ente-tecnico.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
