@model PlanificacionSiembraVm
@{
    ViewData["Title"] = "Planificación de Siembra";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Planificación de siembra</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuPlanificacionSiembra.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <form id="formAccountSettings">
                    <div class="row g-12">
                        <div class="col-md-12 text-danger text-end fw-bold mb-2">
                            <span>Los campos señalados con * son obligatorios.</span>
                        </div>
                    </div>
                    <div class="row g-6">
                        <input type="hidden" asp-for="Id" id="id" name="Id" value="@Model.Id" />
                        <div class="col-md-4">
                            <label for="Modulo" class="form-label required">Laboratorio</label>
                            <select class="form-select" asp-for="IdLaboratorio" id="ComboLaboratorio" name="IdLaboratorio"
                                    data-id="@Model.IdLaboratorio" data-text="@Model.NombreLaboratorio" autofocus required></select>
                        </div>
                        <div class="col-md-4">
                            <label for="FechaPlanificacion" class="form-label required">Planificacion</label>
                            <input type="date" class="form-control" id="FechaPlanificacion" name="FechaPlanificacion" data-id="@Model.FechaPlanificacion">
                        </div>
                        <div class="col-md-4">
                            <label for="lblFechaPlanificaion" class="form-label"></label>
                            <input class="form-control" type="text" id="lblFechaPlanificaion" name="lblFechaPlanificaion" maxlength="20" readonly disabled />
                        </div>
                    </div>
                </form>
                <div class="col-md-12 mt-2 text-end">
                    <button type="button" id="btnAgregarDetalle" class="me-2 mt-1 btn btn-primary btn-sm rounded">
                        Agregar Detalle
                    </button>
                </div>
                <div class="col-md-12">
                    <table id="tbDetalles" class="table table-striped w-100">
                        <thead>
                            <tr class="text-nowrap">
                                <th class="text-center" style="width:5%">Modulo</th>
                                <th class="text-start" style="width:10%">Fecha Siembra</th>
                                <th class="text-start" style="width:10%">Fecha Cosecha</th>
                                <th class="text-start" style="width:10%">C. Fact</th>
                                <th class="text-start" style="width:10%">Tecnico</th>
                                <th class="text-start" style="width:10%">Acciones</th>
                            </tr>
                        </thead>
                    </table>
                </div>

                <div class="mt-6">
                    @if (Context.TienePermiso(MenuPlanificacionSiembra.CodigoMenu, MenuPlanificacionSiembra.Permisos.Editar))
                    {
                        <button id="botonEditar" type="button" class="btn btn-primary me-3">Editar</button>
                    }
                    <a asp-action="Index" asp-controller="PlanificacionSiembra" type="reset" class="btn btn-outline-secondary">Regresar</a>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>


<div class="modal fade" id="DetallesModal" ata-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalToggleLabel">Detalle de planificación de siembra</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="row g-6">
                    <div class="col-md-6">
                        <label for="Modulo" class="form-label required">Módulo</label>
                        <select class="form-select" id="ComboModulo" name="IdModulo" required></select>
                    </div>
                    <div class="col-md-6">
                        <label for="IdEnteTecnico" class="form-label required">Tecnico</label>
                        <select class="form-select" id="ComboEnteTecnico" name="IdEnteTecnico" required></select>
                    </div>
                    <div class="col-md-6">
                        <label for="FechaSiembraDetail" class="form-label required">Fecha Planificación</label>
                        <input type="date" class="form-control" id="FechaSiembraDetail" name="FechaSiembraDetail">
                    </div>
                    <div class="col-md-6">
                        <label for="FechaCosecha" class="form-label required">Fecha Cosecha</label>
                        <input type="date" class="form-control" id="FechaCosecha" name="FechaCosecha">
                    </div>
                    <div class="col-md-3">
                        <label class="form-label required">Cantidad Facturada</label>
                        <input class="form-control" type="number" id="CantidadFacturada" step="0"
                               name="CantidadFacturada" placeholder="Cantidad Facturada" step="1" min="0" pattern="\d+" required autofocus oninput="this.value = this.value.replace(/[^0-9]/g, '');" />
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" id="btnGuardarDetalle">Agregar</button>
            </div>
        </div>
    </div>
</div>


<script>
    let detalleSiembraTable = @Html.Raw(Json.Serialize(this.Model.PlanificacionSiembraDetalle))
</script>

<script src="~/js/planificacionSiembra/planificacionSiembra.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")