@model EntePersonalVm
@{
    ViewData["Title"] = "Personal";
}

@* ************** Content ************** *@
<div class="row">
    <!-- Basic Layout -->
    <div class="col-xxl">
        <div class="card mb-6">
            <div class="card-header d-flex align-items-center justify-content-between">
                <h5 class="mb-0">Personal</h5> <small class="text-muted float-end">@Context.ObtenerNombreModulo(MenuEntePersonal.CodigoMenu)</small>
            </div>
            <div class="card-body pt-1">
                <div class="nav-align-top nav-tabs-shadow mb-6">
                    <ul class="nav nav-tabs nav-fill" role="tablist">
                        <li class="nav-item">
                            <button type="button" class="nav-link active" role="tab" data-bs-toggle="tab" data-bs-target="#navs-datos-generales" aria-controls="navs-datos-generales" aria-selected="false"><span class="d-none d-sm-block"><i class="tf-icons bx bx-user bx-sm me-1_5 align-text-bottom"></i>Datos Generales</span><i class="bx bx-sm bx-user d-sm-none"></i></button>
                        </li>
                    </ul>
                    <div class="tab-content">
                        <div class="tab-pane fade show active" id="navs-datos-generales" role="tabpanel">
                            <form id="formAccountSettings" asp-controller="EntePersonal" asp-action="CrearActualizarEntePersonal" method="POST">
                                <div class="row g-12">
                                    <div class="col-md-12 text-danger text-end fw-bold mb-2">
                                        <span>Los campos señalados con * son obligatorios.</span>
                                    </div>
                                </div>
                                <div class="row g-6">
                                    <div class="col-md-6">
                                        <label for="IdEnte" class="form-label required">Personal</label>
                                        <select class="form-select" id="ComboEntePersonal" name="IdEnte" required autofocus></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Codigo" class="form-label required">Código</label>
                                        <input asp-for="Codigo" class="form-control" type="text" id="Codigo"
                                               name="Codigo" min="5" maxlength="10" required autofocus />
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Modulo" class="form-label required">Laboratorio</label>
                                        <select class="form-select" asp-for="IdLaboratorio" id="ComboLaboratorioPersonal" name="IdLaboratorio"
                                                data-id="@Model.IdLaboratorio" data-text="@Model.NombreLaboratorio" autofocus required></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="Modulo" class="form-label required">Módulo</label>
                                        <select class="form-select" asp-for="IdModuloLaboratorio" id="ComboModuloPersonal" name="IdModuloLaboratorio"
                                                data-id="@Model.IdModuloLaboratorio" data-text="@Model.NombreModuloLaboratorio" autofocus required></select>
                                    </div>
                                    <div class="col-md-6">
                                        <label for="IdCargo" class="form-label required">Cargo</label>
                                        <select class="form-select" asp-for="IdCargo" id="ComboCargo" name="IdCargo"
                                                data-id="@Model.IdCargo" data-text="@Model.NombreCargo" autofocus required></select>
                                    </div>
                                </div>
                                <div class="mt-6">
                                    @if (Context.TienePermiso(MenuEntePersonal.CodigoMenu, MenuEntePersonal.Permisos.Crear))
                                    {
                                        <button type="submit" class="btn btn-primary me-3">Crear</button>
                                    }
                                    <a asp-action="Index" asp-controller="EntePersonal" type="reset" class="btn btn-outline-secondary">Regresar</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Basic with Icons -->
</div>
<script src="~/js/entePersonal/ente-personal.js"></script>
@await Html.PartialAsync("Sections/Toast/_ShowToast")
